* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: #23252C;
}

/* centra la card */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card */
.card {
  width: 320px;
  background-color: #1A1B21;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* immagine */
.profile-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* contenuto */
.info-section {
  padding: 20px;
  text-align: center;
}

.name {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.job-title {
  color: #F3BF99;
  font-size: 14px;
  margin-top: 4px;
}

.web-site {
  color: #F5F5F5;
  font-size: 12px;
  margin: 8px 0 16px;
}

/* bottoni */
.social-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 8px 0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.email {
  background: #ffffff;
  color: #1A1B21;
}

.linkedin {
  background: #5093E2;
  color: white;
}
